body{
    background-color: rgb(168, 196, 215);
    text-align: center;
}
.container{
    border-radius: 15px;
    background-color: white;
    margin: 100px auto;
    width: 280px;
    height: 420px;
}
.container img{
    border-radius: 15px;
    position: relative;
    top: 15px;;
} 
h3{
    display: inline-block;
    width: 240px;
    margin-top: 30px;
    color: rgb(48, 69, 105);
    font-family: sans-serif;
    font-weight: 700;
    margin-bottom: 14px;
}
p{
    margin-top: 0;
    width: 250px;
    display: inline-block;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 13px;
    color: rgb(90, 107, 114);
}
